
@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedThin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Extended.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedMedium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedSemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedHeavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS02 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaTermSS02-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaTermSS02-ExtendedHeavyItalic.ttf') format('truetype');
}
